<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'tp 14 middlewares'}) %> 

<body>
	<%- include('./partials/header') %> 
	<main class="home">
		<h1><%= texto %> </h1>
		<img src="/images/node.jpg" width="60%">
	</main>
</body>
</html>